# TODO version-specific requirements

# ------- shared --------
pika
requests


# -------- api ----------
flask
flask-restful
flask-marshmallow
flask_sqlalchemy
marshmallow-sqlalchemy
sqlalchemy
psycopg2-binary
python-dotenv


# ------ frontend -------
dash
pandas
